<html lang="en">

<head>
    <title>Title</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <script src="js/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>



</head>
<body>
<div id="app">
    <input type="hidden" v-model="id">

    姓名：<input name="username" type="text" v-model="username">
    <br>
    性别：<input name="sex" type="radio" v-model="sex" value="1">男
    <input name="sex" type="radio" v-model="sex" value="0">女
    <br>
    班级：<select name="banji" v-model="banji">
    <option value="-1">请选择</option>
    <option value="1">一班</option>
    <option value="2">二班</option>
    <option value="3">三班</option>
</select>
    <br>
    <input type="button" v-on:click="dosave()" value="添加"/>
    <br>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            id: '',
            username: '',
            sex: '',
            banji: '-1',
            ajaxjson: ''
        },
        mounted() {
            this.init()
        },
        methods: {
            queryparam: function (variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return pair[1];
                    }
                }
                return (false);
            },
            init: function () {
                this.id = this.queryparam("id");
                axios({
                    method: 'POST',
                    url: '/user/showuser',
                    data: {
                        id: this.id
                    }
                }).then(response => {
                    this.username = response.data.username
                    this.sex = response.data.sex
                    this.banji = response.data.banji
                    //   response.data;
                }
            )
            },
            dosave: function () {
                if (this.username == "") {
                    alert("用户名不能为空");
                    return;
                }
                if (this.sex == "") {
                    alert("请选择性别");
                    return;
                }
                if (this.banji == "-1") {
                    alert("请选择班级");
                    return;
                }
                //    var postparam=this.data;
                axios({
                    method: 'POST',
                    url: '/user/dosave',
                    data: {
                        username: this.username,
                        sex: this.sex,
                        banji: this.banji

                    }
                }).then(response => {
                    this.ajaxjson = response.data;
            })
            }
        }
    })

</script>
</body>
</html>