<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ground.groundMapper">

    <select id="query0992" parameterType="java.util.Map" resultType="com.example.demo.entity.t0922">
        select featureno,placeno from t0922_featureinfo where recordid='46213073'
    </select>




</mapper>